/distribution/app.log
/distribution/test.py
/distribution/plugins.properties.bck
/distribution/application.properties.bck

/plugins/internationalization/test/internationalization/core/impl/repo/
/distribution/workspace/
/distribution/components
/distribution/plugins
/airtime/distribution/workspace/

*.pyc
/distribution/components/*.egg
/distribution/plugins/*.egg
*.properties
*.properties.bak
.settings

.project
.pydevproject
.pydevproject~
/.metadata/

*.egg-info/
