*.py
*.pyc
gui-resources/*.html
__plugin__
setup.cfg
npm-debug.log
config.json
node_modules/**
logs/**
gui-resources/scripts/js/bower_components/**
server-test-results.xml
client-test-results.xml
docs/docco/test/**
docs/docco/scripts/**
!docs/docco/scripts/index.html
docs/docco-husky/**
screenshots/
