<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Anonymous>
		<Allows methods="GET">
			<URL>/</URL>
		</Allows>
	</Anonymous>
	<Right name="View all actions">
		<Actions>
			<!-- This node should contain actions to be used to generate the top navigation menu -->
			<Action path="menu" />
			<!-- This node should contain actions to be used inside the application as main modules (whole page for edit/add/etc.) -->
			<Action path="modules" />
			<!-- This node should contain actions to be used inside the dashboard of the application as main modules (whole page for edit/add/etc.) -->
			<Action path="dashboard" parent="modules" />
		</Actions>
	
		<Allows methods="GET">
			<URL>GUI/Action</URL>
			<URL>GUI/Action/*</URL>
			<URL>GUI/Action/*/SubAction</URL>
		</Allows>
	
		<Description>Right containing all actions.
		</Description>
	</Right>
	

</Config>
