// Get font-size in point size (em)
// @function  em
// @param     $font-size {Number} font size in pixel
// @param     $contex    {Number} base font size in pixel
// @return    {Number} font-size in em

@function em($values, $context: $base-font-size) {
	$list: ();

	// there can be CSS attributes with more than one value
	@each $value in $values {
		$unit: unit($value);

		@if $unit == "em" or $unit == "" {
			$list: append($list, $value);
		}
		@else if $unit == unit($context) {
			$list: append($list, $value / $context + 0em);
		}
		@else if $unit == "rem" {
			$list: append($list, $value / 1rem + 0em);
		}
		@else {
			$base: unit($context);

			@warn "Incompatible units: '#{$unit}' and '#{$base}'";
		}
	}

	// mimic legacy behaviour
	@if length($list) == 1 {
		@return nth($list, 1);
	}

	@return $list;
}

@function rem($px) {
	@return $px / 16px * 1rem;
}

@function em_to_rem($em) {
	@return $em / 1em * 1rem;
}

@function fix-gradient-direction($direction-or-angle) {
	$direction: compact();
	$opposite-direction: compact();
	@if nth($direction-or-angle, 1) == "to" {
		$direction: $direction-or-angle;
		@for $i from 2 through length($direction-or-angle) {
			$opposite-direction: append($opposite-direction, opposite-position(nth($direction-or-angle, $i)), space);
		}
	}
	@else if type-of($direction-or-angle) == number {
		$direction: $direction-or-angle;
		$opposite-direction: abs($direction-or-angle - 450) % 360;
	}
	@else {
		$direction: append($direction, to, space);
		@each $pos in $direction-or-angle {
			$direction: append($direction, opposite-position($pos), space);
		}
		$opposite-direction: $direction-or-angle;
	}
	@return $direction, $opposite-direction;
}

@function parseInt($n) {
	@return $n / ($n * 0 + 1);
}

$rem-to-px-conversion: false !default;
$rem-to-px-base: 16px !default;

// converts pixel values to rem and provides a px fallback on a stylesheet base
//
// the sass variable $rem-to-px-conversion defaults to false.
// for older browsers you can override this in a separate stylesheet and
// all values will outputted as is without a conversion.
//
// the conversion base for px to rem conversions can be configuried
// via $rem-to-px-base and defaults to 16px (as in most browsers)
//
// based on work by David Walsh: http://davidwalsh.name/rem-px-browser-function-sass
//
// @param  {String} $values One or more px values
// @return {String} values in rem or px, depending on the configuration
//
// @example
// margin: remify(32px 0 24px 0)
// returns: margin: 2rem 0 1.5rem 0
// and for IE: margin: 32px 0 24px 0

@function remify($values) {
	// sanity-checks
	@if not global-variable-exists(rem-to-px-conversion) {
		@error "Please provide variable named $rem-to-px-conversion";
	}

	@if not global-variable-exists(rem-to-px-base) {
		@error "Please provide variable named $rem-to-px-base";
	}

	$list: ();

	// there can be CSS attributes with more than one value
	@each $value in $values {
		@if $value == "auto" {
			$list: append($list, $value);
		}
		@else {
			$unit: unit($value);

			@if $rem-to-px-conversion {
				@if $unit == "rem" {
					$list: append($list, $value / 1rem * $rem-to-px-base);
				}
				@else {
					$list: append($list, $value);
				}
			}
			@else if $unit == "rem" or $unit == "" {
				$list: append($list, $value);
			}
			@else if $unit == unit($rem-to-px-base) {
				$list: append($list, $value / $rem-to-px-base + 0rem);
			}
			@else if $unit == "em" {
				$list: append($list, $value / 1em + 0rem);
			}
			@else {
				@warn "There is currently no unit conversion for #{$unit}";
			}
		}
	}

	// do not return single value list - e.g. this makes math operations simpler
	@if length($list) == 1 {
		@return nth($list, 1);
	}

	@return $list;
}
